USE [TrangTinTuc]
GO
ALTER TABLE [dbo].[tblNews] DROP CONSTRAINT [FK_tblNews_tblUser]
GO
ALTER TABLE [dbo].[tblNews] DROP CONSTRAINT [FK_tblNews_tblCategory]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 16/07/2021 9:45:13 AM ******/
DROP TABLE [dbo].[tblUser]
GO
/****** Object:  Table [dbo].[tblNews]    Script Date: 16/07/2021 9:45:13 AM ******/
DROP TABLE [dbo].[tblNews]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 16/07/2021 9:45:13 AM ******/
DROP TABLE [dbo].[tblCategory]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 16/07/2021 9:45:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[category_ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNews]    Script Date: 16/07/2021 9:45:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNews](
	[news_ID] [int] IDENTITY(1,1) NOT NULL,
	[category_ID] [int] NOT NULL,
	[author_ID] [int] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[picture] [varchar](200) NULL,
	[date] [datetime] NOT NULL,
	[views] [int] NULL,
 CONSTRAINT [PK_tblNews] PRIMARY KEY CLUSTERED 
(
	[news_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 16/07/2021 9:45:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[user_ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) UNIQUE NOT NULL, 
	[password] [varchar](50) NOT NULL,
	[power] [int] NOT NULL,
	[fullname] [nvarchar](50)  NULL,
	[address] [nvarchar](150)  NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](15)  NULL,	
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([category_ID], [title]) VALUES (1, N'Thời Sự')
INSERT [dbo].[tblCategory] ([category_ID], [title]) VALUES (3, N'Thế Giới')
INSERT [dbo].[tblCategory] ([category_ID], [title]) VALUES (4, N'Kinh Doanh')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
SET IDENTITY_INSERT [dbo].[tblNews] ON 

SET IDENTITY_INSERT [dbo].[tblNews] OFF
SET IDENTITY_INSERT [dbo].[tblUser] ON 
INSERT [dbo].[tblUser] ([user_ID], [username], [password], [power], [fullname], [address], [email], [phone]) VALUES (1, N'admin', N'1', 0, N'Nguyen Van A', N'FPT Hoa Lac', N'abc@gmail.com', N'0123456789')
INSERT [dbo].[tblUser] ([user_ID], [username], [password], [power], [fullname], [address], [email], [phone]) VALUES (2, N'mod1', N'1', 1, N'Nguyen Van B', N'Ha Noi ', N'xyz@gmail.com', N'0987654321')
INSERT [dbo].[tblUser] ([user_ID], [username], [password], [power], [fullname], [address], [email], [phone]) VALUES (3, N'mod2', N'1', 1, N'Nguyen Van C', N'Vinh Phuc', N'abcd@gmail.com', N'098765656')
SET IDENTITY_INSERT [dbo].[tblUser] OFF
ALTER TABLE [dbo].[tblNews]  WITH CHECK ADD  CONSTRAINT [FK_tblNews_tblCategory] FOREIGN KEY([category_ID])
REFERENCES [dbo].[tblCategory] ([category_ID])
GO
ALTER TABLE [dbo].[tblNews] CHECK CONSTRAINT [FK_tblNews_tblCategory]
GO
ALTER TABLE [dbo].[tblNews]  WITH CHECK ADD  CONSTRAINT [FK_tblNews_tblUser] FOREIGN KEY([author_ID])
REFERENCES [dbo].[tblUser] ([user_ID])
GO
ALTER TABLE [dbo].[tblNews] CHECK CONSTRAINT [FK_tblNews_tblUser]
GO
